<h1><%= t '.title' %></h1>

<div id="grid"></div>
<script>
  $(document).ready(function () {
    $("#grid").kendoGrid({
      dataSource: {
        transport: {
          read: "users.json",
          dataType: "json"
        },
        schema: {
          data: "users",
          total: "total_count",
          model: {
            id: "id",
            fields: {
              id: { editable: false, nullable: true },
              first_name: { type: "string" },
              last_name: { type: "string" },
              email: { type: "string" }
            }
          }
        },
        pageSize: 5,
        serverPaging: true,
        serverFiltering: true,
        serverSorting: true
      },
      /*height: 327,*/
      groupable: {
        messages: {
          empty: "Arraste colunas aqui para agrupar pelas mesmas"
        }
      },
      sortable: {
        mode: "multiple",
        allowUnsort: true
      },
      pageable: {
        refresh: true,
        pageSizes: true,
        buttonCount: 5,
        messages: {
          itemsPerPage: "itens por página"
        }
      },
      columns: [
        {
          field: "first_name",
          title: "Primeiro nome"
        }, {
          field: "last_name",
          title: "Último nome"
        }, {
          field: "email",
          title: "Email"
        },
        {
          template: "<a href='/users/#:data.id#'><span class='btn btn-default glyphicon glyphicon-eye-open'></span></a> " +
          "<a href='/users/#:data.id#/edit'><span class='btn btn-default glyphicon glyphicon-pencil'></span></a> " +
          "<a data-confirm='Are you sure?' rel='nofollow' data-method='delete' href='/users/#:data.id#'><span class='btn btn-danger glyphicon glyphicon-trash'></span></a>",
          width: 145
        }
      ]
    });
  });
</script>