table.dataTable thead th, table.dataTable thead td {
    background-color: #ecf0f1;
    border-bottom: none !important;
}
table.dataTable.no-footer {
    border-color: #ecf0f1 !important;
}
/*
table.dataTable thead .sorting, .sorting_asc, .sorting_desc {
    background-image: none !important;
}
*/
